<p id="notice"><%= notice %></p>

<h2>
	<%= @product.name %>
	<% if current_user && current_user.role == "client" && @product.count > 0 %>
		(<%= link_to "Add", product_add_path(@product) %>)
	<% end %>
</h2>
<p><%= image_tag @product.photo.url(:small) %></p>
<p><b>Body:</b> <%= @product.body %></p>
<p><b>Price:</b> <%= @product.price %> PLN</p>
<p><b>Category:</b> <%= link_to @product.category.name, @product.category %></p>

<% if @product.count == 0 %>
	<p><b>BRAK TOWARU</b></p>
<% end %>

<%= link_to 'Back', products_path %>
